html {
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 24px;
	background-color: #333;
	color: #fff;
}
/*--------------------Налаштування посилань----------------------*/
a {
	text-decoration: none;
	position: relative;
}

a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 2px;
	background: #3b82f6;
	transition: width 0.3s;
}

a:hover::after {
	width: 100%;
}
/*--------------------Налаштування параграфів----------------------*/
p {
	letter-spacing: 0.5px;
}
p span {
	color: #3b82f6;
	font-weight: 600;
}
/*--------------------Налаштування Заголовків----------------------*/
h2 {
	letter-spacing: 0.7px;
}

/*------------------Налаштування контейнерів------------------------*/
[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
}
/*-------------------Навігація-----------------------*/
.navigation__title span {
	font-weight: 700;
	color: #3b82f6;
}
.navigation__container {
	position: fixed;
	width: 1000px;
	top: 2%;
	left: 18%;
	z-index: 50;
}
.navigation__block {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 20px 20px;
	background-color: #3b3838;
	border-radius: 20px;
	box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.6);
}
.navigation__title {
	letter-spacing: 0.5px;
	font-size: 18px;
	font-weight: 700;
}
.navigation__list ul {
	display: flex;
	list-style: none;
}
.navigation__list li {
	letter-spacing: 0.5px;
	font-size: 16px;
	margin-right: 20px;
	transition: all 0.3s ease;
}
.navigation__list li:hover {
	color: #3b82f6;
}
.navigation__list li:active {
	transform: scale(0.9);
}
/*------------------------------------------*/
.content__container {
	margin-top: 90px;
}
/*-------------------Заголовок-----------------------*/
.subject {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 52px;
	padding: 20px 10px 20px 10px;
}
.subject span {
	font-weight: 500;
	color: #3b82f6;
}
/*-----------------Секція з блоками-------------------------*/
.section {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}
/*-------------------Блок з анімаціями-----------------------*/
.block {
	position: relative;
	width: 250px;
	height: 280px;
	padding: 10px 20px 10px 20px;
	background-color: #3b3838;
	box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	transition: all 0.3s ease;
}
.block:hover {
	transform: scale(1.1);
}
.block__background {
	perspective: 500px;
	perspective-origin: center;
	border-radius: 20px;
	box-shadow: inset 0px 24px 48px -12px rgba(0, 0, 0, 0.8);
}
.block__title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 210px;
	height: 200px;
	margin-bottom: 10px;
	background-color: #3b82f6;
	border-radius: 20px;
	transition: all 0.4s ease-in-out;
}
.block__title h2 {
	font-size: 64px;
	font-weight: 700;
}
.block__title:hover {
	background: #47b8ec;
	box-shadow: 0px 0px 48px 0px #a0d6ee;
}
.block__text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	font-size: 12px;
}
/*--------------------Block Translate----------------------*/
#translate-a:hover {
	translate: 20%;
}
#translate-b:hover {
	transform: translateY(20%);
}
#translate-c:hover {
	transform: translateX(-20%);
}
#translate-d:hover {
	transform: translate(20%, 20%);
}
/*--------------------Block Scale----------------------*/
#scale-a:hover {
	scale: 1.3;
}
#scale-b:hover {
	transform: scaleX(1.3);
}
#scale-c:hover {
	transform: scaleY(1.3);
}
#scale-d:hover {
	transform: scale(-1, 1);
}
/*--------------------Block Rotate----------------------*/
#rotate-a:hover {
	rotate: 180deg;
}
#rotate-b:hover {
	transform: rotateX(60deg);
}
#rotate-c:hover {
	transform: rotateY(60deg);
}
#rotate-d:hover {
	transform: rotate(-40deg);
}
/*--------------------Block Skew----------------------*/
#skew-a:hover {
	transform: skew(20deg, 20deg);
}
#skew-b:hover {
	transform: skew(-20deg, -20deg);
}
#skew-c:hover {
	transform: skew(20deg, -40deg);
}
#skew-d:hover {
	transform: skew(-20deg, 40deg);
}
#skew-section {
	margin-bottom: 50px;
}
/*--------------------Block 3D----------------------*/
.section-3d {
	height: 500px;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #3b3838;
	margin-bottom: 50px;
	border-radius: 30px;
	box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.8);
}
.scene {
	perspective: 1000px;
	perspective-origin: center;
}
.cube {
	position: relative;
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	transform: rotateX(25deg) rotateY(-25deg);
	animation: rotate-a 6s infinite linear;
}
.face {
	position: absolute;
	width: 200px;
	height: 200px;
	border: 1px solid wheat;
	background: rgba(0, 150, 255, 0.3);
}
.front {
	transform: translateZ(100px);
}
.back {
	transform: rotateY(180deg) translateZ(100px);
}
.left {
	transform: rotateY(-90deg) translateZ(100px);
}
.right {
	transform: rotateY(90deg) translateZ(100px);
}
.top {
	transform: rotateX(90deg) translateZ(100px);
}
.bottom {
	transform: rotateX(-90deg) translateZ(100px);
}
@keyframes rotate-a {
	from {
		transform: rotateX(-25deg) rotateY(0deg);
	}

	to {
		transform: rotateX(-25deg) rotateY(360deg);
	}
}
#cube-b {
	animation: rotate-b 6s infinite linear;
}
@keyframes rotate-b {
	from {
		transform: rotateY(-25deg) rotateX(0deg);
	}

	to {
		transform: rotateY(-25deg) rotateX(360deg);
	}
}
#cube-c {
	animation: rotate-c 6s infinite linear;
}
@keyframes rotate-c {
	from {
		transform: rotateX(-25deg) rotateX(0deg);
	}

	to {
		transform: rotateX(-25deg) rotateX(360deg);
	}
}

/*--------------------footer----------------------*/

.footer__container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	border-radius: 30px;
	background: #3b3838;
	box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.5);
}
.button {
	padding: 30px;
	width: 280px;
	font-weight: 700;
	font-size: 20px;
}
.button a {
	letter-spacing: 0.5px;
	transition: all 0.3s ease;
}
.button a:hover {
	color: #3b82f6;
}
.button a:active {
	transform: scale(0.9);
}
